.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  //アイコン
  &::before {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    z-index: 2;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  // ホバーアクション
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    width: 150%;
    height: 120%;
    content: '';
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) skewX(-37.7deg) scale(0, 1);
  }
}
.button__text {
  position: relative;
  z-index: 2;
  text-align: center;
  &::before {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
